body {
  font-family: system-ui, sans-serif;
  background-color: #121212;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: center;
}

a {
  background-color: #373737;
  color: white;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #575757;
}